<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.15.0" targetFramework="net40-client" />
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net40-client" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.0.6" targetFramework="net40-client" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net40-client" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net35" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net35" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net40-client" />
  <package id="Svg" version="2.3.0" targetFramework="net40-client" />
</packages>